.nodatatext-container button {
  background-color: var(--primary);
  color: white;
  border: none;
}

.nodatatext-container button:hover {
  background-color: var(--secondary);
  color: white;
}

.nodatatext-container .lead {
  color: black;
}